<figure align="center" class="{{ replace (index (split .Destination "#") 1) "," " " }}">
  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}">
  <figcaption class="small">{{ .Title }}</figcaption>
</figure>
