{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<br/>
{{ $pages := .Site.RegularPages }}
{{ range $index, $item := (where $pages "Type" "post") }}
  {{ if (ne $index 0) }}
    <hr/>
    <br/>
  {{ end }}
  <span class="title"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></span>
  <br/>
  <span class="date small">{{ .Date.Format "2 Jan 2006" }}</span>
  <p>
    {{ .Summary }} <a href="{{ .RelPermalink }}">(more)</a>
  </p>
{{ end }}

{{ partial "footer.html" . }}
