{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "02 Jan 2006" }}</h2>{{ end }}
</div>

<main>
{{ .Content }}
</main>

{{ partial "footer.html" . }}
